.filter_input {
    padding: 5px;
    line-height: 0px;
    width: 120px;
    border-radius: 4px;
    border: solid thin darkgray;
}

th, td {
	border: 1px solid #dddddd;
	max-width: 250px;
	overflow: hidden;
	
}
.column_sort {
	cursor: pointer;
}
tr:HOVER {
    opacity: 0.6;
}
